{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block scripts %}
    <!-- Datatables JQuery table formatting and interface -->
    <script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11/datatables.min.css"/>

    <!-- Javascript to modify tables -->
    <script type="text/javascript">
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "non-empty-string-asc": function (str1, str2) {
                if(str1 == "")
                    return 1;
                if(str2 == "")
                    return -1;
                return ((str1 < str2) ? -1 : ((str1 > str2) ? 1 : 0));
            },
         
            "non-empty-string-desc": function (str1, str2) {
                if(str1 == "")
                    return 1;
                if(str2 == "")
                    return -1;
                return ((str1 < str2) ? 1 : ((str1 > str2) ? -1 : 0));
            }
        } );
        $(document).ready(function() {
            $('#regulators').DataTable({
                columnDefs: [
                    {type: 'num', targets: 3}
                ],
                "order": [[3, "desc"]]
            });
            $('#biclusters').DataTable({
                columnDefs: [
                    {type: 'non-empty-string', targets: 0}
                ],
                "order": [[0, "asc"]]        
            });
        });
  </script>
{% endblock %}
{% block content %}
                    <div class="container-fluid" style="margin-top: 40px;"></div>
                    <div class='text-center'>
                        <div class='bs-callout bs-callout-success'><h3><strong>Searched for: &nbsp;{{ gene }}</strong></h3></div>
                        <div class='bs-callout bs-callout-default'>
                            <h4>{{ gene }} regulates: <span class="glyphicon glyphicon-info-sign" data-toggle='collapse' data-target='#reg' style='color:#f00;font-size=10pt;'></span></h4>
                            <div id='reg' class='collapse' style='text-align:justify;'>List of biclusters regulated by the regulator that was searched. Next to the regulator in parentheses is the regulators mechanism of action (<span style='color:#0f0;font-weight:bold;'>Act. = activator</span> and <span style='color:#f00;font-weight:bold;'>Rep. = repressor</span>). Survival is the Cox proportional hazards regression of the bicluster eigengene versus paitent survival. Hallmark(s) is the hallmarks of cancer associated with the bicluster genes. Legend for hallmarks:<br><center><img src='/static/images/legend.jpg' alt='Hallmarks of Cancer' width=300><br><small><a href='http://www.ncbi.nlm.nih.gov/pubmed/21376230'>Hanahan and Weinberg, Cell 2011</a></small></center></div>
                            {% if regs|length>0 %}
                            <table class='table table-bordered table-striped text-center'>
                                <tr>
                                    <th class='text-center'>Regulator</th><th class='text-center'>Regulates Biclusters</th>
                                </tr>
                                <tr>
                                    <td>{{ gene }}</td><td>{{ regs['biclusters'] }}</td>
                                </tr>
                            </table>
                            <table id='regulators' class='table table-bordered text-center'>
                                <thead>
                                    <tr>
                                        <td>Regulator</td><td>Action</td><td>Bicluster</td><td>GO Biological <br>Process Terms</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reg1 in regs['data'] %}
                                    <tr>
                                        <td>{{ reg1[0] }}</td><td><b>{% if reg1[1]=='Repressor' %}<span style='color:#f00'>{{ reg1[1] }}</span>{% else %}<span style='color:#0C0'>{{ reg1[1] }}</span>{% endif %}</b></td><td><a href="{{url_for('bicluster', bicluster=reg1[2])}}">{{ reg1[2] | upper }}</a></td><td>{{ reg1[3] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <div class='bg-danger'>&nbsp;<br><p>Not predicted to regulate anything.<br>&nbsp;</p></div>
                            {% endif %}
                        </div>

                        <div class='bs-callout bs-callout-default'>
                            <h4>Biclusters containing {{ gene }}: <span class="glyphicon glyphicon-info-sign" data-toggle='collapse' data-target='#bic' style='color:#f00;font-size=10pt;'></span></h4>
                            <div id='bic' class='collapse' style='text-align:justify;'>List of biclusters that contain the genes that was searched. Var. Exp. FPC is the variance explained by the first principal component and is a good measure of bicluster co-expression. Survival is the Cox proportional hazards regression of the bicluster eigengene versus paitent survival. Hallmark(s) is the hallmarks of cancer associated with the bicluster genes. Legend for hallmarks:<br><center><img src='/static/images/legend.jpg' alt='Hallmarks of Cancer' width=300><br><small><a href='http://www.ncbi.nlm.nih.gov/pubmed/21376230'>Hanahan and Weinberg, Cell 2011</a></small></center></div>

                            {% if bics|length>0 %}
                            <table class='table table-bordered table-striped text-center'>
                                <tr>
                                    <th class='text-center'>Gene</th><th class='text-center'>Biclusters</th>
                                </tr>
                                <tr>
                                    <td>{{ gene }}</td><td>{{ bics['biclusters'] }}</td>
                                </tr>
                            </table>
                            <table id='biclusters' class='table table-bordered text-center'>
                                <thead>
                                    <tr>
                                        <td width='20%'>Bicluster</td><td width='20%'>Var. Exp. FPC<br>(Perm. <i>p</i>-value)</td><td width='40%'>Regulators</td><td width='10%'>GO Biological <br>Process Terms</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bic1 in bics['data'] %}
                                    <tr>
                                        <td><a href="{{url_for('bicluster', bicluster=bic1[0])}}">{{ bic1[0] | upper }}</a></td><td>{{"%.2f"|format(bic1[1])}} ({{"%.1E"|format(bic1[2])}})</td><td>{{ bic1[3] }}</td><td>{{ bic1[4] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <div class='bg-danger'>&nbsp;<br><p>Not in any biclusters.<br>&nbsp;</p></div>
                            {% endif %}
                        </div>
                </div>
{% endblock %}
